In [ ]:
https://github.com/ljh415/AIFFEL/blob/master/Exploration/23.sbr_movielens/SBR_Movielens.ipynb

# 진행순서

### Step 0. 데이터 불러오기
데이터를 불러옵니다.

### Step 1. 데이터의 전처리
위와 같이 간단히 구성해 본 데이터셋을 꼼꼼이 살펴보면서 항목별 기본분석, session length, session time, cleaning 등의 작업을 진행합니다.
특히, 이 데이터셋에서는 Session이 아닌 UserID 단위로 데이터가 생성되어 있으므로, 이를 Session 단위로 어떻게 해석할지에 주의합니다.

### Step 2. 미니 배치의 구성
실습코드 내역을 참고하여 데이터셋과 미니 배치를 구성해 봅시다. Session-Parallel Mini-Batch의 개념에 따라, 학습 속도의 저하가 최소화될 수 있도록 구성합니다.
단, 위 Step 1에서 Session 단위를 어떻게 정의했느냐에 따라서 Session-Parallel Mini-Batch이 굳이 필요하지 않을 수도 있습니다.

### Step 3. 모델 구성
이 부분도 실습코드 내역을 참고하여 다양하게 모델 구조를 시도해볼 수 있습니다.

### Step 4. 모델 학습
다양한 하이퍼파라미터를 변경해 보며 검증해 보도록 합니다. 실습코드에 언급되었던 Recall, MRR 등의 개념들도 함께 관리될 수 있도록 합니다.

### Step 5. 모델 테스트
미리 구성한 테스트셋을 바탕으로 Recall, MRR 을 확인해 봅니다.

# 참고사항
- 여기서 이전 실습내역과 가장 크게 다른 부분은 바로 SessionID 대신 UserID 항목이 들어갔다는 점입니다. 이 데이터셋은 명확한 1회 세션의 SessionID를 포함하지 않고 있습니다. 그래서 이번에는 UserID가 SessionID 역할을 해야 합니다.
- Rating 정보가 포함되어 있습니다. 이전 실습내역에서는 이런 항목이 포함되어 있지 않았으므로, 무시하고 제외할 수 있습니다. 하지만, 직전에 봤던 영화가 맘에 들었는지 여부가 비슷한 영화를 더 고르게 하는 것과 상관이 있을 수도 있습니다. 아울러, Rating이 낮은 데이터를 어떻게 처리할지도 고민해야 합니다.
- Time 항목에는 UTC time 가 포함되어, 1970년 1월 1일부터 경과된 초단위 시간이 기재되어 있습니다.

In [ ]:
# 평가

평가문항	상세기준
1. Movielens 데이터셋을 session based recommendation 관점으로 전처리하는 과정이 체계적으로 진행되었다.
데이터셋의 면밀한 분석을 토대로 세션단위 정의 과정(길이분석, 시간분석)을 합리적으로 수행한 과정이 기술되었다.

2. RNN 기반의 예측 모델이 정상적으로 구성되어 안정적으로 훈련이 진행되었다.
적절한 epoch만큼의 학습이 진행되는 과정에서 train loss가 안정적으로 감소하고, validation 단계에서의 Recall, MRR이 개선되는 것이 확인된다.

3. 세션정의, 모델구조, 하이퍼파라미터 등을 변경해서 실험하여 Recall, MRR 등의 변화추이를 관찰하였다.
3가지 이상의 변화를 시도하고 그 실험결과를 체계적으로 분석하였다.

In [ ]:
# 후기

뒤에 가서는 그냥 노드 베끼기 수준...
추천 어렵다

In [1]:
# 패키지 임포트
import datetime as dt
from pathlib import Path
import os
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# 모델링을 위한 패키지 import
import tensorflow as tf
from tensorflow.keras.layers import Input, Dense, Dropout, GRU
from tensorflow.keras.losses import categorical_crossentropy
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.utils import to_categorical
from tqdm import tqdm

# 데이터 불러오기

In [47]:
# 데이터 불러오기

data_path = Path(os.getenv('HOME')+'/aiffel/yoochoose-data/ml-1m') 
train_path = data_path / 'ratings.dat'

def load_data(data_path: Path, nrows=None):
    data = pd.read_csv(data_path, sep='::', header=None, usecols=[0, 1, 2, 3], dtype={0: np.int32, 1: np.int32, 2: np.int32}, nrows=nrows)
    data.columns = ['UserId', 'ItemId', 'Rating', 'Time']
    return data

data = load_data(train_path, None)
data.sort_values(['UserId', 'Time'], inplace=True)  # data를 id와 시간 순서로 정렬해줍니다.
data

         UserId  ItemId  Rating       Time
31            1    3186       4  978300019
22            1    1270       5  978300055
27            1    1721       4  978300055
37            1    1022       5  978300055
24            1    2340       3  978300103
...         ...     ...     ...        ...
1000019    6040    2917       4  997454429
999988     6040    1921       4  997454464
1000172    6040    1784       3  997454464
1000167    6040     161       3  997454486
1000042    6040    1221       4  998315055

[1000209 rows x 4 columns]

In [48]:
# 유저별, 아이템별 데이터 확인
data['UserId'].nunique(), data['ItemId'].nunique()

# 유저는 6040명
# 아이템은 3706개

(6040, 3706)

# 유저별 확인

In [49]:
user = data.groupby('UserId').size()
user

# 유저별 평가가 많은 것은 이상치가 아님
# 그대로 내버려 두자.

UserId
1        53
2       129
3        51
4        21
5       198
       ...
6036    888
6037    202
6038     20
6039    123
6040    341
Length: 6040, dtype: int64

# rating별 확인

In [50]:
# rating 확인
ratings = data.groupby('Rating').size()
ratings

Rating
1     56174
2    107557
3    261197
4    348971
5    226310
dtype: int64

In [51]:
# 평가 중앙값과 평균을 알아봅시다

# len(ratings)

def rating_mean(x):
    count = 0
    mul = 1
    sum_all = 0
    for z in range(1,len(x)+1):
        count += x[z]
        sum_all += mul * x[z]
        mul += 1
        
    print("총 데이터 개수 :", count)
    print("총 별점 합 :", sum_all)
    return sum_all / count


print("평균 :",rating_mean(ratings))


# 4점 밑으로는 버린다!!

총 데이터 개수 : 1000209
총 별점 합 : 3582313
평균 : 3.581564453029317

In [52]:
# 3점 이하로는 데이터를 삭제해도 될 듯하다. 
# 어차피 왓챠에서도 예상평가 3점 이하면 안본다.
re_data = data[data['Rating'] > 3]
re_data

         UserId  ItemId  Rating       Time
31            1    3186       4  978300019
22            1    1270       5  978300055
27            1    1721       4  978300055
37            1    1022       5  978300055
36            1    1836       5  978300172
...         ...     ...     ...        ...
1000119    6040    3671       4  997454367
999923     6040     232       5  997454398
1000019    6040    2917       4  997454429
999988     6040    1921       4  997454464
1000042    6040    1221       4  998315055

[575281 rows x 4 columns]

# 영화별 확인

In [53]:
# 영화별 평가 수
from collections import Counter

movie = Counter(re_data['ItemId'])
movie_items = movie.items()
movie_items = sorted(movie_items, key=lambda x: x[1], reverse=True)
movie_items

# 적게 등장한 영화를 보고 짤라야 하나?
# 보통 적게 본 영화는 사람들이 좋아하지 않는 독립영화일수도.

[(2858, 2853),
 (260, 2622),
 (1196, 2510),
 (2028, 2260),
 (1198, 2260),
 (593, 2252),
 (2571, 2171),
 (2762, 2163),
 (1210, 2127),
 (608, 2074),
 (527, 2071),
 (318, 2046),
 (589, 2044),
 (858, 1989),
 (110, 1977),
 (1197, 1924),
 (1270, 1910),
 (2396, 1877),
 (1617, 1876),
 (296, 1770),
 (2997, 1759),
 (480, 1730),
 (1240, 1683),
 (356, 1668),
 (1265, 1661),
 (1, 1655),
 (1580, 1644),
 (1097, 1643),
 (1214, 1623),
 (457, 1615),
 (50, 1608),
 (2716, 1548),
 (1193, 1519),
 (3578, 1508),
 (541, 1485),
 (1221, 1444),
 (912, 1434),
 (1200, 1421),
 (1259, 1420),
 (919, 1385),
 (1213, 1370),
 (1136, 1364),
 (1036, 1332),
 (3114, 1302),
 (1610, 1297),
 (1291, 1297),
 (2791, 1284),
 (924, 1270),
 (1387, 1266),
 (1704, 1256),
 (2916, 1248),
 (34, 1234),
 (1307, 1211),
 (750, 1207),
 (2355, 1192),
 (1304, 1170),
 (908, 1170),
 (2918, 1168),
 (2000, 1168),
 (1225, 1155),
 (3175, 1145),
 (2628, 1132),
 (2599, 1130),
 (2987, 1111),
 (2804, 1105),
 (2959, 1096),
 (32, 1083),
 (1968, 1067),
 (1394, 1066),
 (3471, 1064),
 (1230, 1061),
 (2797, 1051),
 (1784, 1047),
 (1247, 1043),
 (3793, 1042),
 (1961, 1028),
 (1127, 1028),
 (1219, 1028),
 (223, 1013),
 (590, 1010),
 (1252, 1010),
 (1374, 1008),
 (3481, 1007),
 (111, 999),
 (1089, 995),
 (150, 989),
 (1278, 988),
 (1079, 987),
 (1222, 986),
 (2324, 982),
 (3147, 981),
 (1358, 981),
 (1923, 978),
 (780, 962),
 (904, 959),
 (1208, 954),
 (3751, 944),
 (923, 944),
 (377, 943),
 (3408, 942),
 (1220, 942),
 (1206, 928),
 (913, 919),
 (3421, 913),
 (1234, 912),
 (1242, 912),
 (1090, 905),
 (1288, 903),
 (588, 900),
 (2706, 898),
 (2692, 897),
 (47, 895),
 (969, 894),
 (1393, 890),
 (1721, 889),
 (1073, 889),
 (1584, 882),
 (1294, 867),
 (3418, 866),
 (2194, 858),
 (2700, 853),
 (2174, 853),
 (1233, 853),
 (2291, 850),
 (3671, 842),
 (1527, 840),
 (1641, 839),
 (1258, 837),
 (3897, 833),
 (1250, 832),
 (1356, 828),
 (733, 827),
 (1207, 822),
 (592, 822),
 (39, 822),
 (2395, 819),
 (2406, 819),
 (1148, 819),
 (380, 816),
 (920, 814),
 (3753, 806),
 (1954, 804),
 (1674, 802),
 (357, 792),
 (21, 787),
 (3160, 783),
 (1094, 783),
 (1276, 780),
 (1266, 776),
 (648, 771),
 (1517, 770),
 (364, 770),
 (1500, 770),
 (3527, 768),
 (903, 767),
 (2268, 765),
 (3176, 754),
 (3363, 746),
 (1573, 740),
 (3361, 736),
 (293, 732),
 (1673, 730),
 (2302, 726),
 (595, 725),
 (2321, 723),
 (1204, 721),
 (2336, 719),
 (2289, 718),
 (2683, 716),
 (2529, 714),
 (3256, 702),
 (910, 702),
 (2890, 701),
 (11, 698),
 (1199, 694),
 (1732, 692),
 (3448, 692),
 (1028, 691),
 (349, 691),
 (1080, 691),
 (1396, 690),
 (1376, 689),
 (3006, 689),
 (1682, 685),
 (2248, 682),
 (1953, 680),
 (474, 680),
 (2947, 679),
 (3255, 674),
 (2763, 674),
 (2115, 670),
 (36, 669),
 (2081, 665),
 (3552, 663),
 (1653, 663),
 (2640, 658),
 (1267, 656),
 (1201, 655),
 (3253, 655),
 (1639, 653),
 (6, 652),
 (3702, 647),
 (1282, 645),
 (1408, 645),
 (3072, 643),
 (440, 643),
 (1997, 640),
 (2985, 637),
 (1246, 635),
 (1625, 635),
 (539, 633),
 (3703, 633),
 (17, 632),
 (597, 630),
 (551, 629),
 (1608, 629),
 (2908, 628),
 (3052, 627),
 (2064, 625),
 (1215, 624),
 (1101, 622),
 (2353, 619),
 (1370, 618),
 (2968, 617),
 (1262, 617),
 (1299, 616),
 (899, 615),
 (745, 612),
 (1035, 608),
 (587, 606),
 (3499, 604),
 (25, 603),
 (953, 602),
 (3543, 602),
 (3081, 601),
 (1179, 593),
 (316, 591),
 (2502, 591),
 (3210, 590),
 (1231, 590),
 (1912, 589),
 (2657, 587),
 (235, 584),
 (2080, 583),
 (246, 583),
 (1183, 580),
 (3039, 574),
 (2019, 574),
 (1947, 571),
 (2020, 571),
 (3362, 571),
 (2001, 570),
 (1748, 570),
 (2352, 569),
 (3623, 568),
 (778, 566),
 (1060, 566),
 (1077, 566),
 (1249, 555),
 (1235, 553),
 (265, 552),
 (2006, 552),
 (1302, 551),
 (3108, 551),
 (1244, 551),
 (1287, 549),
 (1263, 549),
 (3510, 549),
 (2100, 547),
 (2948, 547),
 (2455, 547),
 (2407, 545),
 (1269, 544),
 (1272, 543),
 (1228, 542),
 (2944, 540),
 (3526, 539),
 (3148, 537),
 (1084, 536),
 (2011, 535),
 (3424, 535),
 (1293, 533),
 (2871, 532),
 (3683, 532),
 (529, 530),
 (3948, 530),
 (3104, 529),
 (1285, 527),
 (2329, 526),
 (2300, 525),
 (1203, 525),
 (1172, 520),
 (1407, 518),
 (2761, 516),
 (3911, 516),
 (367, 515),
 (594, 512),
 (2710, 512),
 (1909, 511),
 (2108, 510),
 (1275, 509),
 (1952, 508),
 (914, 506),
 (2580, 505),
 (1663, 505),
 (3555, 505),
 (3624, 504),
 (898, 504),
 (1333, 504),
 (1372, 503),
 (3504, 503),
 (3396, 502),
 (497, 502),
 (2391, 500),
 (2243, 498),
 (3101, 498),
 (1917, 497),
 (2359, 496),
 (3435, 494),
 (1188, 493),
 (1777, 493),
 (2617, 492),
 (161, 491),
 (2872, 490),
 (2915, 490),
 (800, 490),
 (2160, 489),
 (1466, 487),
 (10, 487),
 (1256, 487),
 (1676, 486),
 (1994, 485),
 (3386, 480),
 (3174, 480),
 (2288, 476),
 (2671, 476),
 (337, 475),
 (902, 475),
 (2501, 473),
 (1747, 473),
 (1960, 472),
 (3755, 471),
 (300, 466),
 (1284, 466),
 (1380, 465),
 (2949, 465),
 (555, 462),
 (454, 462),
 (165, 462),
 (2058, 461),
 (736, 460),
 (329, 459),
 (1965, 458),
 (1729, 457),
 (2012, 457),
 (3608, 451),
 (3037, 450),
 (1129, 450),
 (1962, 448),
 (2470, 447),
 (3699, 444),
 (2078, 443),
 (1292, 443),
 (3105, 442),
 (2664, 442),
 (2150, 442),
 (3868, 440),
 (2746, 438),
 (2542, 438),
 (2699, 437),
 (16, 437),
 (2105, 436),
 (2144, 436),
 (2366, 434),
 (1253, 434),
 (1722, 433),
 (2712, 433),
 (1544, 432),
 (2167, 432),
 (2278, 431),
 (968, 431),
 (3033, 430),
 (1945, 429),
 (2076, 429),
 (1343, 429),
 (785, 428),
 (1212, 426),
 (2686, 425),
 (368, 424),
 (1092, 423),
 (3360, 421),
 (922, 420),
 (1645, 419),
 (2490, 418),
 (1552, 418),
 (2067, 417),
 (2193, 417),
 (2186, 417),
 (3107, 416),
 (1248, 416),
 (3359, 415),
 (1957, 414),
 (3082, 413),
 (1223, 412),
 (2140, 412),
 (1296, 411),
 (1569, 410),
 (3095, 409),
 (500, 409),
 (1921, 408),
 (3044, 406),
 (2951, 402),
 (1375, 402),
 (2427, 401),
 (2161, 401),
 (3809, 400),
 (1597, 400),
 (1271, 399),
 (2770, 397),
 (508, 397),
 (253, 396),
 (3100, 396),
 (104, 395),
 (1095, 395),
 (3450, 395),
 (2333, 394),
 (866, 394),
 (720, 393),
 (2424, 392),
 (3763, 392),
 (1885, 391),
 (930, 390),
 (2005, 389),
 (2021, 389),
 (2917, 389),
 (509, 387),
 (1104, 387),
 (70, 387),
 (1254, 386),
 (3654, 385),
 (441, 384),
 (3476, 383),
 (58, 382),
 (3060, 382),
 (2662, 381),
 (3468, 380),
 (553, 379),
 (2393, 378),
 (1959, 377),
 (141, 377),
 (2795, 376),
 (353, 376),
 (3735, 376),
 (1391, 375),
 (1261, 374),
 (3317, 374),
 (1357, 373),
 (3730, 373),
 (1449, 372),
 (162, 370),
 (1956, 370),
 (2087, 368),
 (1022, 367),
 (1321, 367),
 (838, 366),
 (2109, 366),
 (3334, 365),
 (1224, 364),
 (2018, 363),
 (1834, 363),
 (2788, 363),
 (3178, 362),
 (3098, 362),
 (3252, 361),
 (266, 360),
 (2023, 360),
 (1876, 358),
 (471, 356),
 (2863, 355),
 (1041, 355),
 (994, 354),
 (2707, 353),
 (2572, 353),
 (916, 351),
 (2973, 349),
 (628, 348),
 (2273, 348),
 (1883, 348),
 (62, 347),
 (339, 347),
 (1485, 347),
 (933, 346),
 (1029, 344),
 (3035, 344),
 (1635, 343),
 (1019, 343),
 (2313, 341),
 (926, 340),
 (2371, 339),
 (3246, 337),
 (1185, 337),
 (708, 337),
 (2826, 335),
 (909, 335),
 (1257, 334),
 (2881, 334),
 (2137, 332),
 (247, 332),
 (2002, 331),
 (543, 331),
 (3196, 331),
 (1345, 331),
 (2294, 330),
 (2085, 329),
 (951, 327),
 (562, 326),
 (2966, 326),
 (955, 326),
 (1283, 326),
 (515, 325),
 (151, 325),
 (3479, 325),
 (1093, 325),
 (954, 324),
 (610, 324),
 (3916, 324),
 (1907, 323),
 (1339, 323),
 (1805, 323),
 (342, 323),
 (3536, 322),
 (1032, 322),
 (2528, 322),
 (1186, 322),
 (344, 321),
 (2527, 320),
 (788, 320),
 (2394, 319),
 (1982, 319),
 (3168, 318),
 (1967, 318),
 (345, 317),
 (1680, 317),
 (1274, 316),
 (2003, 316),
 (596, 316),
 (2641, 316),
 (928, 316),
 (2013, 316),
 (2728, 316),
 (905, 315),
 (3893, 315),
 (1678, 314),
 (2145, 314),
 (2096, 313),
 (2739, 313),
 (3203, 313),
 (1320, 312),
 (1088, 309),
 (3545, 309),
 (3019, 308),
 (3083, 307),
 (288, 307),
 (3298, 307),
 (3685, 307),
 (3005, 306),
 (29, 305),
 (2694, 305),
 (2605, 305),
 (1371, 304),
 (3551, 304),
 (292, 302),
 (2723, 301),
 (832, 301),
 (3260, 300),
 (1377, 300),
 (1086, 300),
 (3159, 299),
 (3070, 298),
 (1958, 298),
 (1217, 298),
 (3740, 297),
 (1694, 296),
 (2841, 295),
 (1955, 294),
 (3267, 294),
 (2539, 294),
 (3301, 294),
 (231, 294),
 (3591, 293),
 (671, 293),
 (3507, 293),
 (2912, 292),
 (2010, 292),
 (3863, 292),
 (112, 292),
 (3535, 292),
 (2648, 291),
 (2423, 290),
 (348, 289),
 (1537, 288),
 (1378, 288),
 (3512, 287),
 (2, 285),
 (1944, 285),
 (940, 284),
 (1950, 284),
 (1103, 283),
 (2919, 282),
 (3811, 282),
 (1719, 282),
 (1411, 278),
 (1587, 278),
 (524, 277),
 (2433, 277),
 (3836, 276),
 (3088, 276),
 (2565, 276),
 (3508, 276),
 (1711, 275),
 (232, 275),
 (1301, 274),
 (3698, 274),
 (1297, 274),
 (661, 274),
 (163, 273),
 (1918, 273),
 (45, 273),
 (3000, 271),
 (306, 271),
 (2054, 270),
 (3635, 270),
 (1344, 270),
 (3358, 269),
 (1042, 269),
 (3745, 269),
 (2398, 268),
 (1175, 268),
 (915, 268),
 (317, 268),
 (2046, 268),
 (2687, 268),
 (2065, 268),
 (1125, 267),
 (198, 267),
 (3704, 266),
 (1171, 265),
 (1120, 265),
 (3639, 265),
 (1476, 265),
 (3020, 265),
 (2124, 265),
 (586, 264),
 (3952, 264),
 (2125, 263),
 (3300, 263),
 (3062, 263),
 (1300, 263),
 (3524, 262),
 (1260, 262),
 (3068, 261),
 (3247, 261),
 (1245, 261),
 (2094, 259),
 (52, 259),
 (2245, 259),
 (3152, 259),
 (1078, 259),
 (1690, 258),
 (3201, 258),
 (3087, 257),
 (3638, 256),
 (3265, 255),
 (1238, 255),
 (180, 254),
 (3198, 254),
 (24, 253),
 (678, 253),
 (3263, 253),
 (1914, 253),
 (3505, 252),
 (911, 252),
 (1513, 250),
 (1350, 250),
 (852, 250),
 (1347, 250),
 (1096, 249),
 (2405, 249),
 (3067, 249),
 (2384, 249),
 (2688, 249),
 (653, 248),
 (950, 248),
 (434, 248),
 (3451, 247),
 (2369, 247),
 (272, 247),
 (2690, 247),
 (2993, 246),
 (2139, 246),
 (2857, 246),
 (2819, 246),
 (1277, 245),
 (1124, 244),
 (3681, 244),
 (2134, 244),
 (1081, 244),
 (3668, 243),
 (1059, 243),
 (1303, 243),
 (3462, 243),
 (2420, 243),
 (2581, 242),
 (741, 241),
 (3949, 240),
 (1237, 239),
 (647, 239),
 (2463, 239),
 (3489, 238),
 (1147, 238),
 (3307, 238),
 (1441, 237),
 (2724, 237),
 (350, 237),
 (2991, 236),
 (942, 235),
 (1047, 235),
 (2541, 235),
 (3844, 235),
 (3798, 234),
 (3827, 234),
 (1479, 234),
 (2318, 233),
 (1589, 232),
 (1243, 232),
 (1298, 232),
 (2311, 231),
 (2132, 231),
 (431, 231),
 (3271, 230),
 (3785, 230),
 (3429, 230),
 (802, 229),
 (3397, 229),
 (2921, 229),
 (475, 228),
 (3469, 228),
 (900, 228),
 (3186, 226),
 (333, 226),
 (1280, 226),
 (2312, 225),
 (2133, 225),
 (2454, 225),
 (2467, 225),
 (3629, 225),
 (3498, 224),
 (3007, 223),
 (2403, 222),
 (2303, 222),
 (2118, 221),
 (1189, 221),
 (2478, 221),
 (1927, 220),
 (552, 219),
 (3034, 219),
 (2976, 219),
 (3261, 219),
 (1693, 219),
 (2009, 218),
 (3441, 218),
 (164, 217),
 (3328, 217),
 (531, 216),
 (1061, 216),
 (2926, 216),
 (3089, 216),
 (3706, 216),
 (921, 216),
 (125, 216),
 (3071, 215),
 (2989, 215),
 (492, 215),
 (3467, 214),
 (144, 213),
 (7, 212),
 (3461, 212),
 (2734, 212),
 (2401, 212),
 (2469, 211),
 (599, 211),
 (2971, 211),
 (1385, 210),
 (3717, 209),
 (442, 209),
 (945, 209),
 (1964, 209),
 (2301, 208),
 (3409, 208),
 (1049, 207),
 (1916, 207),
 (2116, 207),
 (2130, 207),
 (1586, 206),
 (3157, 206),
 (3733, 206),
 (1566, 205),
 (2390, 205),
 (538, 205),
 (2759, 205),
 (1178, 205),
 (1594, 204),
 (3752, 204),
 (314, 204),
 (2138, 203),
 (3244, 203),
 (535, 203),
 (2859, 203),
 (805, 202),
 (3614, 202),
 (971, 201),
 (3494, 201),
 (3185, 201),
 (2231, 201),
 (446, 200),
 (319, 200),
 (3061, 200),
 (3871, 199),
 (2141, 198),
 (2600, 197),
 (965, 197),
 (494, 197),
 (3617, 197),
 (1218, 196),
 (534, 196),
 (2203, 196),
 (2431, 195),
 (428, 195),
 (1264, 195),
 (3030, 194),
 (3701, 194),
 (3173, 194),
 (1810, 193),
 (307, 193),
 (3783, 193),
 (1012, 193),
 (3819, 193),
 (2413, 192),
 (1963, 192),
 (514, 192),
 (3219, 192),
 (3163, 191),
 (2779, 191),
 (69, 191),
 (1614, 190),
 (3927, 190),
 (3398, 190),
 (1643, 190),
 (1845, 190),
 (2357, 190),
 (41, 189),
 (2622, 189),
 (2015, 189),
 (2070, 189),
 (3618, 189),
 (3384, 189),
 (3259, 188),
 (3556, 188),
 (3365, 188),
 (3513, 188),
 (3675, 186),
 (2112, 186),
 (2792, 185),
 (1405, 185),
 (1131, 185),
 (3269, 184),
 (222, 184),
 (1949, 184),
 (3741, 184),
 (1754, 184),
 (3264, 183),
 (95, 183),
 (1211, 183),
 (1132, 183),
 (230, 182),
 (1672, 182),
 (1354, 182),
 (1892, 181),
 (3548, 181),
 (1620, 181),
 (3366, 181),
 (3189, 180),
 (3129, 179),
 (1459, 179),
 (2750, 179),
 (1931, 179),
 (373, 179),
 (1619, 178),
 (3744, 178),
 (493, 178),
 (2946, 178),
 (1939, 178),
 (3022, 177),
 (3576, 176),
 (2117, 176),
 (3770, 176),
 (1518, 176),
 (2414, 175),
 (3549, 175),
 (2722, 175),
 (224, 175),
 (934, 175),
 (2496, 174),
 (1251, 174),
 (2677, 174),
 (22, 174),
 (1348, 174),
 (101, 174),
 (2474, 174),
 (2282, 172),
 (3633, 172),
 (2598, 172),
 (2670, 172),
 (3873, 171),
 (3723, 170),
 (2348, 170),
 (1226, 170),
 (3250, 170),
 (3801, 170),
 (3155, 169),
 (1835, 169),
 (3697, 169),
 (786, 169),
 (249, 168),
 (261, 168),
 (3686, 168),
 (3257, 167),
 (1792, 167),
 (507, 167),
 (1031, 166),
 (1023, 166),
 (3814, 166),
 (145, 166),
 (3354, 166),
 (3534, 165),
 (1025, 165),
 (3347, 165),
 (2644, 165),
 (3684, 165),
 (3742, 165),
 (1873, 164),
 (105, 164),
 (1286, 164),
 (2693, 164),
 (2409, 164),
 (3788, 164),
 (1227, 164),
 (3760, 164),
 (1688, 163),
 (3097, 163),
 (153, 163),
 (783, 162),
 (2745, 162),
 (799, 161),
 (1911, 160),
 (1268, 160),
 (2672, 160),
 (2922, 160),
 (1633, 159),
 (2883, 159),
 (372, 159),
 (2731, 158),
 (1884, 157),
 (2208, 157),
 (1946, 157),
 (1717, 157),
 (2114, 157),
 (2764, 156),
 (412, 156),
 (532, 156),
 (2340, 156),
 (3102, 156),
 (1373, 156),
 (2867, 156),
 (185, 156),
 (1281, 156),
 (2861, 156),
 (2889, 156),
 (3869, 155),
 (2941, 155),
 (949, 155),
 (1020, 155),
 (2143, 154),
 (1057, 154),
 (1017, 154),
 (1392, 153),
 (861, 153),
 (3812, 153),
 (952, 153),
 (947, 152),
 ...]

In [54]:
# 가장 적게 본 영화 목록

sort_movie = sorted(movie_items, key=lambda x : x[1])
sort_movie

# 50개 이하면 짜를까?
# 고민해보자

[(3280, 1),
 (1522, 1),
 (774, 1),
 (1891, 1),
 (717, 1),
 (2685, 1),
 (3187, 1),
 (228, 1),
 (2754, 1),
 (3647, 1),
 (734, 1),
 (2251, 1),
 (2244, 1),
 (792, 1),
 (3800, 1),
 (3346, 1),
 (220, 1),
 (1102, 1),
 (3482, 1),
 (758, 1),
 (3542, 1),
 (712, 1),
 (2869, 1),
 (3205, 1),
 (1861, 1),
 (401, 1),
 (3131, 1),
 (3294, 1),
 (2242, 1),
 (1877, 1),
 (2765, 1),
 (2449, 1),
 (3085, 1),
 (2487, 1),
 (3944, 1),
 (687, 1),
 (212, 1),
 (1335, 1),
 (3573, 1),
 (2855, 1),
 (3313, 1),
 (1773, 1),
 (2464, 1),
 (3277, 1),
 (3295, 1),
 (1652, 1),
 (706, 1),
 (696, 1),
 (398, 1),
 (989, 1),
 (192, 1),
 (2679, 1),
 (3058, 1),
 (33, 1),
 (3887, 1),
 (139, 1),
 (1878, 1),
 (1915, 1),
 (2887, 1),
 (815, 1),
 (789, 1),
 (3322, 1),
 (1830, 1),
 (3881, 1),
 (2777, 1),
 (1325, 1),
 (130, 1),
 (1787, 1),
 (1890, 1),
 (1886, 1),
 (2368, 1),
 (1495, 1),
 (1826, 1),
 (470, 1),
 (1490, 1),
 (1470, 1),
 (981, 1),
 (2955, 1),
 (679, 1),
 (3777, 1),
 (3381, 1),
 (1555, 1),
 (3818, 1),
 (623, 1),
 (2223, 1),
 (3172, 1),
 (3065, 1),
 (2823, 1),
 (1561, 1),
 (732, 1),
 (572, 1),
 (2623, 1),
 (3236, 1),
 (396, 1),
 (1323, 1),
 (3828, 1),
 (3413, 1),
 (1316, 1),
 (878, 1),
 (3648, 1),
 (3603, 1),
 (138, 1),
 (2821, 1),
 (701, 1),
 (530, 1),
 (726, 1),
 (584, 1),
 (1160, 1),
 (3229, 1),
 (666, 1),
 (3337, 1),
 (3377, 1),
 (614, 1),
 (1364, 1),
 (3378, 1),
 (3563, 1),
 (1849, 1),
 (3164, 1),
 (1832, 1),
 (2854, 1),
 (756, 1),
 (1553, 1),
 (1514, 1),
 (1853, 1),
 (2914, 1),
 (1782, 1),
 (887, 1),
 (3084, 1),
 (618, 1),
 (3748, 1),
 (624, 1),
 (1433, 1),
 (1718, 1),
 (2960, 1),
 (791, 1),
 (749, 1),
 (3652, 1),
 (2172, 1),
 (3656, 1),
 (2438, 1),
 (3382, 1),
 (3530, 1),
 (2818, 1),
 (75, 1),
 (1636, 1),
 (2258, 1),
 (2543, 1),
 (3607, 1),
 (3026, 1),
 (2909, 1),
 (1360, 1),
 (2198, 1),
 (2544, 2),
 (1795, 2),
 (67, 2),
 (1796, 2),
 (119, 2),
 (1039, 2),
 (993, 2),
 (3293, 2),
 (578, 2),
 (810, 2),
 (3314, 2),
 (2164, 2),
 (167, 2),
 (3575, 2),
 (310, 2),
 (2934, 2),
 (1679, 2),
 (1494, 2),
 (2536, 2),
 (59, 2),
 (2063, 2),
 (2825, 2),
 (2705, 2),
 (729, 2),
 (2850, 2),
 (980, 2),
 (1168, 2),
 (776, 2),
 (3305, 2),
 (3380, 2),
 (3888, 2),
 (823, 2),
 (2317, 2),
 (853, 2),
 (3517, 2),
 (3601, 2),
 (397, 2),
 (3940, 2),
 (179, 2),
 (3390, 2),
 (2578, 2),
 (1520, 2),
 (796, 2),
 (2982, 2),
 (3665, 2),
 (664, 2),
 (2715, 2),
 (2537, 2),
 (3216, 2),
 (557, 2),
 (478, 2),
 (3353, 2),
 (3136, 2),
 (3184, 2),
 (3288, 2),
 (2207, 2),
 (2510, 2),
 (1313, 2),
 (3057, 2),
 (56, 2),
 (972, 2),
 (3595, 2),
 (559, 2),
 (1990, 2),
 (3042, 2),
 (526, 2),
 (3207, 2),
 (1851, 2),
 (1675, 2),
 (652, 2),
 (3242, 2),
 (3233, 2),
 (1139, 2),
 (2127, 2),
 (2783, 2),
 (3488, 2),
 (2636, 2),
 (3592, 2),
 (1486, 2),
 (1519, 2),
 (2811, 2),
 (2452, 2),
 (1181, 2),
 (3778, 2),
 (1040, 2),
 (2191, 2),
 (1071, 2),
 (3522, 2),
 (200, 2),
 (793, 2),
 (439, 2),
 (134, 2),
 (2480, 2),
 (1842, 2),
 (2309, 2),
 (1434, 2),
 (404, 2),
 (2246, 2),
 (3374, 2),
 (2695, 2),
 (630, 3),
 (1871, 3),
 (3938, 3),
 (787, 3),
 (3581, 3),
 (1539, 3),
 (274, 3),
 (1930, 3),
 (2602, 3),
 (1741, 3),
 (3162, 3),
 (3149, 3),
 (2999, 3),
 (1632, 3),
 (1471, 3),
 (3572, 3),
 (2655, 3),
 (2614, 3),
 (3933, 3),
 (1822, 3),
 (2465, 3),
 (3945, 3),
 (1328, 3),
 (1903, 3),
 (1817, 3),
 (2873, 3),
 (2760, 3),
 (2778, 3),
 (2807, 3),
 (2196, 3),
 (2538, 3),
 (3875, 3),
 (3154, 3),
 (2008, 3),
 (3126, 3),
 (108, 3),
 (2192, 3),
 (1595, 3),
 (1864, 3),
 (1149, 3),
 (2557, 3),
 (245, 3),
 (264, 3),
 (682, 3),
 (3636, 3),
 (3931, 3),
 (447, 3),
 (2892, 3),
 (1164, 3),
 (3883, 3),
 (430, 3),
 (2299, 3),
 (3941, 3),
 (3465, 3),
 (3641, 3),
 (3437, 3),
 (3523, 3),
 (1659, 3),
 (3721, 3),
 (2444, 3),
 (1739, 3),
 (3942, 3),
 (3116, 3),
 (3041, 3),
 (3866, 3),
 (114, 3),
 (3443, 3),
 (874, 3),
 (757, 3),
 (566, 3),
 (2358, 3),
 (3609, 3),
 (985, 3),
 (1501, 3),
 (411, 3),
 (3533, 3),
 (2326, 3),
 (992, 3),
 (1436, 3),
 (820, 3),
 (3939, 4),
 (1543, 4),
 (3292, 4),
 (1664, 4),
 (844, 4),
 (3215, 4),
 (1384, 4),
 (2740, 4),
 (3490, 4),
 (2911, 4),
 (3892, 4),
 (626, 4),
 (3774, 4),
 (1602, 4),
 (3610, 4),
 (3232, 4),
 (385, 4),
 (137, 4),
 (2061, 4),
 (3564, 4),
 (3239, 4),
 (1793, 4),
 (2479, 4),
 (3850, 4),
 (2515, 4),
 (3043, 4),
 (3797, 4),
 (1174, 4),
 (2545, 4),
 (1369, 4),
 (867, 4),
 (2209, 4),
 (3003, 4),
 (3335, 4),
 (1038, 4),
 (3657, 4),
 (3056, 4),
 (2350, 4),
 (1850, 4),
 (1567, 4),
 (2831, 4),
 (2974, 4),
 (1872, 4),
 (3303, 4),
 (3664, 4),
 (3331, 4),
 (1685, 4),
 (1444, 4),
 (939, 4),
 (3757, 4),
 (287, 4),
 (2962, 4),
 (1426, 4),
 (1534, 4),
 (3442, 4),
 (2878, 4),
 (2658, 4),
 (2332, 4),
 (2477, 4),
 (3180, 4),
 (2930, 4),
 (3012, 4),
 (775, 4),
 (2292, 4),
 (437, 4),
 (460, 4),
 (90, 4),
 (1055, 4),
 (1455, 4),
 (3642, 4),
 (1901, 4),
 (3820, 4),
 (131, 4),
 (1121, 4),
 (3905, 4),
 (1574, 4),
 (3464, 5),
 (2979, 5),
 (754, 5),
 (854, 5),
 (2994, 5),
 (3867, 5),
 (3245, 5),
 (295, 5),
 (1058, 5),
 (250, 5),
 (2219, 5),
 (2673, 5),
 (2933, 5),
 (291, 5),
 (1749, 5),
 (124, 5),
 (2516, 5),
 (3640, 5),
 (2884, 5),
 (462, 5),
 (37, 5),
 (510, 5),
 (1899, 5),
 (66, 5),
 (2523, 5),
 (2256, 5),
 (1549, 5),
 (136, 5),
 (2773, 5),
 (3803, 5),
 (2415, 5),
 (1780, 5),
 (3695, 5),
 (359, 5),
 (2691, 5),
 (2637, 5),
 (863, 5),
 (3878, 5),
 (102, 5),
 (925, 5),
 (2566, 5),
 (3486, 5),
 (1138, 5),
 (1692, 5),
 (3884, 5),
 (811, 5),
 (2509, 5),
 (2984, 5),
 (1531, 5),
 (197, 5),
 (1988, 5),
 (2304, 5),
 (3343, 5),
 (2755, 5),
 (1420, 5),
 (560, 5),
 (966, 5),
 (1105, 5),
 (3663, 5),
 (2833, 5),
 (2569, 5),
 (554, 5),
 (3344, 5),
 (1715, 6),
 (1583, 6),
 (148, 6),
 (3694, 6),
 (3400, 6),
 (87, 6),
 (181, 6),
 (84, 6),
 (393, 6),
 (3403, 6),
 (1662, 6),
 (1502, 6),
 (3673, 6),
 (1666, 6),
 (2129, 6),
 (3351, 6),
 (2462, 6),
 (1002, 6),
 (336, 6),
 (1651, 6),
 (3843, 6),
 (2865, 6),
 (813, 6),
 (3912, 6),
 (406, 6),
 (1656, 6),
 (331, 6),
 (2894, 6),
 (564, 6),
 (3691, 6),
 (2044, 6),
 (3401, 6),
 (1525, 6),
 (2461, 6),
 (3140, 6),
 (1026, 6),
 (3025, 6),
 (667, 6),
 (3570, 6),
 (2675, 6),
 (958, 6),
 (2383, 6),
 (3611, 6),
 (418, 6),
 (1153, 6),
 (598, 6),
 (146, 6),
 (2342, 6),
 (64, 6),
 (2221, 6),
 (1565, 6),
 (860, 6),
 (3419, 6),
 (2632, 6),
 (716, 6),
 (2775, 6),
 (2257, 6),
 (2945, 6),
 (2853, 6),
 (1839, 6),
 (2868, 6),
 (1326, 6),
 (1825, 6),
 (2964, 6),
 (1869, 6),
 (2466, 6),
 (2281, 6),
 (769, 6),
 (2809, 6),
 (1599, 6),
 (2903, 6),
 (2156, 6),
 (2047, 7),
 (3393, 7),
 (2559, 7),
 (3282, 7),
 (129, 7),
 (1731, 7),
 (3860, 7),
 (255, 7),
 (876, 7),
 (2768, 7),
 (1427, 7),
 (2992, 7),
 (755, 7),
 (3474, 7),
 (375, 7),
 (2339, 7),
 (2965, 7),
 (807, 7),
 (3935, 7),
 (619, 7),
 (1857, 7),
 (2158, 7),
 (1336, 7),
 (3139, 7),
 (1867, 7),
 (2799, 7),
 (484, 7),
 (2055, 7),
 (2674, 7),
 (202, 7),
 (3830, 7),
 (2215, 7),
 (1668, 7),
 (2552, 7),
 (189, 7),
 (1163, 7),
 (563, 7),
 (283, 7),
 (2998, 7),
 (962, 7),
 (2562, 7),
 (864, 7),
 (3817, 7),
 (1349, 7),
 (2835, 7),
 (3644, 7),
 (1998, 7),
 (710, 7),
 (2886, 7),
 (567, 7),
 (1437, 7),
 (1497, 7),
 (1439, 7),
 (3283, 7),
 (2386, 7),
 (2776, 7),
 (499, 8),
 (2650, 8),
 (561, 8),
 (617, 8),
 (392, 8),
 (2079, 8),
 (2913, 8),
 (1489, 8),
 (251, 8),
 (1807, 8),
 (3853, 8),
 (3922, 8),
 (3924, 8),
 (984, 8),
 (2830, 8),
 (767, 8),
 (3796, 8),
 (2307, 8),
 (3161, 8),
 (3050, 8),
 (2388, 8),
 (1743, 8),
 (3838, 8),
 (201, 8),
 (3692, 8),
 (106, 8),
 (2849, 8),
 (1114, 8),
 (747, 8),
 (711, 8),
 (2931, 8),
 (3410, 8),
 (2201, 8),
 (1000, 8),
 (3345, 8),
 (2286, 8),
 (433, 8),
 (2816, 8),
 (3848, 8),
 (2627, 8),
 (3520, 8),
 (3389, 8),
 (3716, 8),
 (3799, 8),
 (3495, 8),
 (3805, 8),
 (3319, 8),
 (3781, 8),
 (503, 8),
 (278, 8),
 (2522, 8),
 (1504, 8),
 (1116, 8),
 (53, 8),
 (833, 8),
 (751, 8),
 (2923, 8),
 (1458, 8),
 (1846, 8),
 (870, 8),
 (1575, 8),
 (704, 8),
 (2737, 8),
 (169, 8),
 (476, 9),
 (2555, 9),
 (54, 9),
 (3919, 9),
 (3768, 9),
 (3874, 9),
 (209, 9),
 (1613, 9),
 (1728, 9),
 (2678, 9),
 (987, 9),
 (525, 9),
 (93, 9),
 (92, 9),
 (3902, 9),
 (2839, 9),
 (3047, 9),
 (3749, 9),
 (3761, 9),
 (1496, 9),
 (3121, 9),
 (3674, 9),
 (3898, 9),
 (2817, 9),
 (2293, 9),
 (2157, 9),
 (2007, 9),
 (3832, 9),
 (638, 9),
 (3587, 9),
 (343, 9),
 (990, 9),
 (3449, 9),
 (3531, 9),
 (2577, 9),
 (888, 9),
 (3562, 9),
 (3333, 9),
 (3669, 9),
 (394, 9),
 (1154, 9),
 (1898, 9),
 (1767, 9),
 (3492, 9),
 (2503, 9),
 (3031, 9),
 (967, 9),
 (2758, 9),
 (219, 9),
 (2441, 9),
 (1671, 9),
 (2101, 9),
 (3906, 9),
 (1993, 9),
 (2197, 9),
 (656, 9),
 (386, 9),
 (2743, 9),
 (3767, 9),
 (2638, 10),
 (2800, 10),
 (1981, 10),
 (1450, 10),
 (960, 10),
 (1551, 10),
 (2828, 10),
 (645, 10),
 (3540, 10),
 (2824, 10),
 (1933, 10),
 (1811, 10),
 (632, 10),
 (240, 10),
 (570, 10),
 (128, 10),
 (2897, 10),
 (1423, 10),
 (1329, 10),
 (3894, 10),
 (463, 10),
 (1750, 10),
 (1677, 10),
 (96, 10),
 (1798, 10),
 (3048, 10),
 (1421, 10),
 (2056, 10),
 (2382, 10),
 (1996, 10),
 (731, 10),
 (472, 10),
 (1609, 10),
 (3434, 10),
 (3862, 10),
 (1657, 10),
 (1117, 10),
 (2733, 10),
 (178, 10),
 (1493, 10),
 (2798, 10),
 (3402, 10),
 (2981, 10),
 (1987, 10),
 (2113, 10),
 (3775, 10),
 (840, 10),
 (3580, 10),
 (3847, 10),
 (2400, 10),
 (38, 10),
 (1144, 10),
 (238, 10),
 (1814, 10),
 (3782, 10),
 (2834, 10),
 (1770, 10),
 (2265, 11),
 (2426, 11),
 (184, 11),
 (254, 11),
 (885, 11),
 (631, 11),
 (2036, 11),
 (71, 11),
 (3934, 11),
 (1063, 11),
 (384, 11),
 (3433, 11),
 (3625, 11),
 (325, 11),
 (3921, 11),
 (2963, 11),
 (573, 11),
 (241, 11),
 (2264, 11),
 (502, 11),
 (681, 11),
 (606, 11),
 (1053, 11),
 (3276, 11),
 (1771, 11),
 (2548, 11),
 (974, 11),
 (2074, 11),
 (2785, 11),
 (2031, 11),
 (2586, 11),
 (3900, 11),
 (505, 11),
 (2211, 11),
 (3395, 11),
 (2790, 11),
 (2748, 11),
 (2837, 11),
 (1389, 11),
 (3106, 11),
 (2397, 11),
 (2864, 11),
 (2756, 11),
 (2185, 11),
 (877, 11),
 (3165, 11),
 (612, 11),
 (3833, 11),
 (1570, 11),
 (1906, 11),
 (1829, 11),
 (3645, 11),
 (528, 11),
 (489, 11),
 (3804, 11),
 (2032, 11),
 (2189, 12),
 (2152, 12),
 (1760, 12),
 (2190, 12),
 (3946, 12),
 (3895, 12),
 (2149, 12),
 (2876, 12),
 (649, 12),
 (3824, 12),
 (3473, 12),
 (779, 12),
 (3391, 12),
 (3454, 12),
 (2483, 12),
 (1874, 12),
 (1854, 12),
 (1880, 12),
 (2175, 12),
 (191, 12),
 (519, 12),
 (3014, 12),
 (444, 12),
 (1417, 12),
 (2896, 12),
 (2381, 12),
 (217, 12),
 (210, 12),
 (2227, 12),
 (3137, 12),
 (3776, 12),
 (640, 12),
 (2767, 12),
 (3880, 12),
 (3240, 12),
 (3568, 12),
 (498, 12),
 (3597, 12),
 (2653, 12),
 (1087, 12),
 (3122, 12),
 (633, 12),
 (3756, 12),
 (3130, 12),
 (2786, 12),
 (3432, 12),
 (1756, 13),
 (771, 13),
 (3690, 13),
 (3049, 13),
 (1463, 13),
 (692, 13),
 (2904, 13),
 (3073, 13),
 (1509, 13),
 (3064, 13),
 (1477, 13),
 (3579, 13),
 (2482, 13),
 (3908, 13),
 (2666, 13),
 (1572, 13),
 (1926, 13),
 (685, 13),
 (1896, 13),
 (753, 13),
 (1526, 13),
 (1585, 13),
 (126, 13),
 (3021, 13),
 (3839, 13),
 (1351, 13),
 (997, 13),
 (3577, 13),
 (2128, 13),
 (1473, 13),
 (1902, 13),
 (2446, 13),
 (3765, 13),
 (3392, 13),
 (416, 13),
 (3689, 13),
 (2179, 13),
 (3759, 13),
 (103, 13),
 (3670, 13),
 (1440, 13),
 (1456, 13),
 (3913, 13),
 (3537, 13),
 (600, 13),
 (389, 13),
 (3349, 13),
 (3845, 13),
 (2514, 13),
 (297, 13),
 (113, 13),
 (275, 14),
 (3661, 14),
 (2646, 14),
 (3092, 14),
 (2635, 14),
 (1879, 14),
 (3585, 14),
 (3511, 14),
 (2512, 14),
 (3877, 14),
 (3532, 14),
 (473, 14),
 (1550, 14),
 (2597, 14),
 (1523, 14),
 (1317, 14),
 (2380, 14),
 (3221, 14),
 (3854, 14),
 (841, 14),
 (3017, 14),
 (1655, 14),
 (424, 14),
 (3662, 14),
 (3709, 14),
 (3637, 14),
 (1152, 14),
 (132, 14),
 (1312, 14),
 (2667, 14),
 (3710, 14),
 (1406, 14),
 (304, 14),
 (1681, 14),
 (3909, 14),
 (3218, 14),
 (3602, 14),
 (1887, 14),
 (3885, 14),
 (1529, 15),
 (2498, 15),
 (961, 15),
 (1978, 15),
 (1980, 15),
 (3268, 15),
 (3518, 15),
 (320, 15),
 (659, 15),
 (1044, 15),
 (3711, 15),
 (1725, 15),
 (1119, 15),
 (409, 15),
 (3743, 15),
 (2305, 15),
 (2103, 15),
 (2255, 15),
 (1511, 15),
 (1067, 15),
 (419, 15),
 (1341, 15),
 (174, 15),
 (1412, 15),
 (1893, 15),
 (3626, 15),
 (1623, 15),
 (831, 15),
 (2187, 15),
 ...]

In [55]:
# sort_movie[2][0]

# 지워야 할 영화 리스트를 뽑아서 몇 개인지 확인해 봅시다.
delete_list = []
for x in range(len(sort_movie)) :
    value = sort_movie[x][1]
    if value < 50 :
        delete_list.append(sort_movie[x][0])
        
print("지워야 할 영화 리스트 개수 :",len(delete_list))

지워야 할 영화 리스트 개수 : 1770

In [56]:
# 전체 데이터에서 해당 리스트에 해당하는 데이터를 지운 뒤 데이터 개수를 파악해 봅시다.

# # 오류 발생 
# for x in range(len(re_data)):
#     if re_data.iloc[x][1] in delete_list :
#         re_data.drop(x)
                
# head(re_data)


# 일단 데이터도 적으니까 못 먹어도 고!

## 여기서부터는 시간 정보 확인

In [57]:
# 우선 현재 데이터 개수 확인
re_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 575281 entries, 31 to 1000042
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   UserId  575281 non-null  int32
 1   ItemId  575281 non-null  int32
 2   Rating  575281 non-null  int32
 3   Time    575281 non-null  int64
dtypes: int32(3), int64(1)
memory usage: 15.4 MB

In [59]:
# 사칙연산이 가능한 datetime으로 바꿔봅시다.

# datetime으로 바꿔봅시다.
from time import localtime, strftime
from datetime import datetime, timezone


re_data['Time'] = re_data['Time'].apply(lambda x:dt.datetime.utcfromtimestamp(int(x)))
re_data.head()


# new_list = []
# for now in data['Time']:
#     local_tuple = localtime(now)
#     time_format = '%Y-%m-%d %H:%M:%S'
#     time_str = strftime(time_format, local_tuple)
#     new_list.append(time_str)
    
# data['Time'] = new_list
# data['Time'] = pd.to_datetime(data['Time'], format='%Y-%m-%d %H:%M:%S', errors='raise')
# data.head()

    UserId  ItemId  Rating                Time
31       1    3186       4 2000-12-31 22:00:19
22       1    1270       5 2000-12-31 22:00:55
27       1    1721       4 2000-12-31 22:00:55
37       1    1022       5 2000-12-31 22:00:55
36       1    1836       5 2000-12-31 22:02:52

In [60]:
# 첫번째 기록의 시간과 마지막 기록의 시간
oldest, latest = re_data['Time'].min(), re_data['Time'].max()
print(oldest) 
print(latest)

2000-04-25 23:05:32
2003-02-28 17:49:50

In [42]:
month_ago = latest - dt.timedelta(365)     # 최종 날짜로부터 365일 이전 날짜를 구한다.  
data = re_data[re_data['Time'] > month_ago]   # 방금 구한 날짜 이후의 데이터만 모은다. 
data 

# 1만1천개 남짓... 그래도 들어가..?
# 이대로 가면 망할 거 같아. 그냥 타임 데이터는 다 쓰자.
# 날짜는 전체 다 쓰자. (re_data)를 쓴다.
# 대신 최신에 있는 데이터를 test, validation으로 써서 정확도를 높이자.

        UserId  ItemId  Rating                Time
5170        36    1387       5 2002-03-12 03:46:59
5267        36    1201       4 2002-03-12 03:46:59
5122        36    1291       5 2002-03-12 03:47:16
5123        36    2167       5 2002-03-12 03:48:25
5290        36    2951       4 2002-03-12 03:48:25
...        ...     ...     ...                 ...
992523    5996     719       4 2002-04-29 20:13:03
992579    5996    2605       5 2002-04-29 20:13:03
992724    5996    3707       5 2002-04-29 20:16:15
992553    5996     781       5 2002-04-29 20:18:44
992459    5996     339       4 2002-10-07 13:24:39

[11411 rows x 4 columns]

In [62]:
# Time 데이터를 순서대로!!

re_data.sort_values(by=['Time'], inplace=True) # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html
print(re_data.shape)
display(re_data)

(575281, 4)

         UserId  ItemId  Rating                Time
1000138    6040     858       4 2000-04-25 23:05:32
999873     6040     593       5 2000-04-25 23:05:54
1000153    6040    2384       4 2000-04-25 23:05:54
1000007    6040    1961       4 2000-04-25 23:06:17
1000192    6040    2019       5 2000-04-25 23:06:17
...         ...     ...     ...                 ...
825497     4958    2453       4 2003-02-28 17:44:20
825526     4958    3489       4 2003-02-28 17:45:20
825438     4958    1407       5 2003-02-28 17:47:23
825724     4958    3264       4 2003-02-28 17:49:08
825603     4958    1924       4 2003-02-28 17:49:50

[575281 rows x 4 columns]

In [65]:
print("전체의 0.7 :", 575281 * 0.7)
print("전체의 0.2 :", 575281 * 0.2)
print("전체의 0.1 :", 575281 * 0.1)

# 대충 4십만, 1십만, 5만이다.

전체의 0.7 : 402696.69999999995
전체의 0.2 : 115056.20000000001
전체의 0.1 : 57528.100000000006

# 데이터 전처리로 들어가 봅시다.

## 여기서부터는 훈련, 유효성, 테스트 데이터를 만든다

In [66]:
# 훈련데이터와 유효성검증 데이터 분리 함수

# 데이터 시간을 기준으로 나눈다. ==> why?
# 추천시스템은 '현재'의 취향을 반영해 전달해야 함
# 때문에 최근 데이터로만 진행해야 한다.
# 1달 전 성능이 좋았던 모델도 지금은 안맞을 수 있음

# 하지만 지금 데이터가 많지 않고, Time 데이터 순으로 되어 있으니, 그냥 비율로 자르자.

# split
data_train = data[:400000]
data_val = data[400000:500000]
data_test = data[500000:]

In [67]:
# SessionId -> UserId로 변경
def stats_info(data: pd.DataFrame, status: str):
    print(f'* {status} Set Stats Info\n'
          f'\t Events: {len(data)}\n'
          f'\t Users (Sessions): {data["UserId"].nunique()}\n'
          f'\t Items: {data["ItemId"].nunique()}\n'
          f'\t First Time : {data["Time"].min()}\n'
          f'\t Last Time : {data["Time"].max()}\n')

In [68]:
stats_info(data_train, 'train')
stats_info(data_val, 'valid')
stats_info(data_test, 'test')

## 뭐지?? test 쪽에 유저가 엄청 맣네.

* train Set Stats Info
	 Events: 400000
	 Users (Sessions): 2380
	 Items: 3602
	 First Time : 974329852
	 Last Time : 1046388675

* valid Set Stats Info
	 Events: 100000
	 Users (Sessions): 690
	 Items: 3249
	 First Time : 969951420
	 Last Time : 1045690373

* test Set Stats Info
	 Events: 500209
	 Users (Sessions): 2972
	 Items: 3601
	 First Time : 956703932
	 Last Time : 1046454590

In [69]:
# train set에 없는 아이템이 val, test기간에 생길 수 있으므로 train data를 기준으로 인덱싱합니다.
id2idx = {item_id : index for index, item_id in enumerate(data_train['ItemId'].unique())}

def indexing(df, id2idx):
    df['item_idx'] = df['ItemId'].map(lambda x: id2idx.get(x, -1))  # id2idx에 없는 아이템은 모르는 값(-1) 처리 해줍니다.
    return df

data_train = indexing(data_train, id2idx)
data_val = indexing(data_val, id2idx)
data_test = indexing(data_test, id2idx)

In [70]:
save_path = data_path / 'processed'
save_path.mkdir(parents=True, exist_ok=True)

data_train.to_pickle(save_path / 'train.pkl')
data_val.to_pickle(save_path / 'valid.pkl')
data_test.to_pickle(save_path / 'test.pkl')

# 이제 모델 훈련 들어가봅시다.

# 먼저 모델 구성

In [71]:
# SessionId -> UserId로 변경
class SessionDataset:
    """Credit to yhs-968/pyGRU4REC."""

    def __init__(self, data):
        self.df = data
        self.click_offsets = self.get_click_offsets()
        self.session_idx = np.arange(self.df['UserId'].nunique())  # indexing to SessionId

    def get_click_offsets(self):
        """
        Return the indexes of the first click of each session IDs,
        """
        offsets = np.zeros(self.df['UserId'].nunique() + 1, dtype=np.int32)
        offsets[1:] = self.df.groupby('UserId').size().cumsum()
        return offsets

In [72]:
tr_dataset = SessionDataset(data_train)
tr_dataset.df.head(10)

    UserId  ItemId  Rating       Time  item_idx
31       1    3186       4  978300019         0
22       1    1270       5  978300055         1
27       1    1721       4  978300055         2
37       1    1022       5  978300055         3
24       1    2340       3  978300103         4
36       1    1836       5  978300172         5
3        1    3408       4  978300275         6
7        1    2804       5  978300719         7
47       1    1207       4  978300719         8
0        1    1193       5  978300760         9

In [73]:
tr_dataset.click_offsets

array([     0,     53,    182, ..., 399642, 399668, 400000], dtype=int32)

In [74]:
tr_dataset.session_idx

array([   0,    1,    2, ..., 2377, 2378, 2379])

In [77]:
class SessionDataLoader:
    """Credit to yhs-968/pyGRU4REC."""

    def __init__(self, dataset: SessionDataset, batch_size=50):
        self.dataset = dataset
        self.batch_size = batch_size

    def __iter__(self):
        """ Returns the iterator for producing session-parallel training mini-batches.
        Yields:
            input (B,):  Item indices that will be encoded as one-hot vectors later.
            target (B,): a Variable that stores the target item indices
            masks: Numpy array indicating the positions of the sessions to be terminated
        """

        start, end, mask, last_session, finished = self.initialize()  # initialize 메소드에서 확인해주세요.
        """
        start : Index Where Session Start
        end : Index Where Session End
        mask : indicator for the sessions to be terminated
        """

        while not finished:
            min_len = (end - start).min() - 1  # Shortest Length Among Sessions
            for i in range(min_len):
                # Build inputs & targets
                inp = self.dataset.df['item_idx'].values[start + i]
                target = self.dataset.df['item_idx'].values[start + i + 1]
                yield inp, target, mask

            start, end, mask, last_session, finished = self.update_status(start, end, min_len, last_session, finished)

    def initialize(self):
        first_iters = np.arange(self.batch_size)    # 첫 배치에 사용할 세션 Index를 가져옵니다.
        last_session = self.batch_size - 1    # 마지막으로 다루고 있는 세션 Index를 저장해둡니다.
        start = self.dataset.click_offsets[self.dataset.session_idx[first_iters]]       # data 상에서 session이 시작된 위치를 가져옵니다.
        end = self.dataset.click_offsets[self.dataset.session_idx[first_iters] + 1]  # session이 끝난 위치 바로 다음 위치를 가져옵니다.
        mask = np.array([])   # session의 모든 아이템을 다 돌은 경우 mask에 추가해줄 것입니다.
        finished = False         # data를 전부 돌았는지 기록하기 위한 변수입니다.
        return start, end, mask, last_session, finished

    def update_status(self, start: np.ndarray, end: np.ndarray, min_len: int, last_session: int, finished: bool):  
        # 다음 배치 데이터를 생성하기 위해 상태를 update합니다.
        
        start += min_len   # __iter__에서 min_len 만큼 for문을 돌았으므로 start를 min_len 만큼 더해줍니다.
        mask = np.arange(self.batch_size)[(end - start) == 1]  
        # end는 다음 세션이 시작되는 위치인데 start와 한 칸 차이난다는 것은 session이 끝났다는 뜻입니다. mask에 기록해줍니다.

        for i, idx in enumerate(mask, start=1):  # mask에 추가된 세션 개수만큼 새로운 세션을 돌것입니다.
            new_session = last_session + i  
            if new_session > self.dataset.session_idx[-1]:  # 만약 새로운 세션이 마지막 세션 index보다 크다면 모든 학습데이터를 돈 것입니다.
                finished = True
                break
            # update the next starting/ending point
            start[idx] = self.dataset.click_offsets[self.dataset.session_idx[new_session]]     # 종료된 세션 대신 새로운 세션의 시작점을 기록합니다.
            end[idx] = self.dataset.click_offsets[self.dataset.session_idx[new_session] + 1]

        last_session += len(mask)  # 마지막 세션의 위치를 기록해둡니다.
        return start, end, mask, last_session, finished

In [78]:
tr_data_loader = SessionDataLoader(tr_dataset, batch_size=4)
tr_dataset.df.head(15)

    UserId  ItemId  Rating       Time  item_idx
31       1    3186       4  978300019         0
22       1    1270       5  978300055         1
27       1    1721       4  978300055         2
37       1    1022       5  978300055         3
24       1    2340       3  978300103         4
36       1    1836       5  978300172         5
3        1    3408       4  978300275         6
7        1    2804       5  978300719         7
47       1    1207       4  978300719         8
0        1    1193       5  978300760         9
21       1     720       3  978300760        10
44       1     260       4  978300760        11
9        1     919       4  978301368        12
51       1     608       4  978301398        13
43       1    2692       4  978301570        14

In [79]:
iter_ex = iter(tr_data_loader)

In [80]:
inputs, labels, mask =  next(iter_ex)
print(f'Model Input Item Idx are : {inputs}')
print(f'Label Item Idx are : {"":5} {labels}')
print(f'Previous Masked Input Idx are {mask}')

Model Input Item Idx are : [ 0 53 65 54]
Label Item Idx are :       [ 1 54 62 24]
Previous Masked Input Idx are []

In [81]:
# SessionId -> UserId로 변경
class Args:
    def __init__(self, tr, val, test, batch_size, hsz, drop_rate, lr, epochs, k):
        self.tr = tr
        self.val = val
        self.test = test
        self.num_items = tr['ItemId'].nunique()
        self.num_sessions = tr['UserId'].nunique()
        self.batch_size = batch_size
        self.hsz = hsz
        self.drop_rate = drop_rate
        self.lr = lr
        self.epochs = epochs
        self.k = k

args = Args(data_train, data_val, data_test, batch_size=256, hsz=50, drop_rate=0.1, lr=0.001, epochs=5, k=20)

In [83]:
def create_model(args):
    inputs = Input(batch_shape=(args.batch_size, 1, args.num_items))
    gru, _ = GRU(args.hsz, stateful=True, return_state=True, name='GRU')(inputs)
    dropout = Dropout(args.drop_rate)(gru)
    predictions = Dense(args.num_items, activation='softmax')(dropout)
    model = Model(inputs=inputs, outputs=[predictions])
    model.compile(loss=categorical_crossentropy, optimizer=Adam(args.lr), metrics=['accuracy'])
    model.summary()
    return model

In [84]:
model = create_model(args)

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(256, 1, 3602)]          0
_________________________________________________________________
GRU (GRU)                    [(256, 50), (256, 50)]    548100
_________________________________________________________________
dropout (Dropout)            (256, 50)                 0
_________________________________________________________________
dense (Dense)                (256, 3602)               183702
=================================================================
Total params: 731,802
Trainable params: 731,802
Non-trainable params: 0
_________________________________________________________________

In [87]:
def mrr_k(pred, truth: int, k: int):
    indexing = np.where(pred[:k] == truth)[0]
    if len(indexing) > 0:
        return 1 / (indexing[0] + 1)
    else:
        return 0


def recall_k(pred, truth: int, k: int) -> int:
    answer = truth in pred[:k]
    return int(answer)

In [88]:
# SessionId -> UserId
def train_model(model, args):
    train_dataset = SessionDataset(args.tr)
    train_loader = SessionDataLoader(train_dataset, batch_size=args.batch_size)

    for epoch in range(1, args.epochs + 1):
        total_step = len(args.tr) - args.tr['UserId'].nunique()
        tr_loader = tqdm(train_loader, total=total_step // args.batch_size, desc='Train', mininterval=1)
        for feat, target, mask in tr_loader:
            reset_hidden_states(model, mask)  # 종료된 session은 hidden_state를 초기화합니다. 아래 메서드에서 확인해주세요.

            input_ohe = to_categorical(feat, num_classes=args.num_items)
            input_ohe = np.expand_dims(input_ohe, axis=1)
            target_ohe = to_categorical(target, num_classes=args.num_items)

            result = model.train_on_batch(input_ohe, target_ohe)
            tr_loader.set_postfix(train_loss=result[0], accuracy = result[1])

        val_recall, val_mrr = get_metrics(args.val, model, args, args.k)  # valid set에 대해 검증합니다.

        print(f"\t - Recall@{args.k} epoch {epoch}: {val_recall:3f}")
        print(f"\t - MRR@{args.k}    epoch {epoch}: {val_mrr:3f}\n")


def reset_hidden_states(model, mask):
    gru_layer = model.get_layer(name='GRU')  # model에서 gru layer를 가져옵니다.
    hidden_states = gru_layer.states[0].numpy()  # gru_layer의 parameter를 가져옵니다.
    for elt in mask:  # mask된 인덱스 즉, 종료된 세션의 인덱스를 돌면서
        hidden_states[elt, :] = 0  # parameter를 초기화 합니다.
    gru_layer.reset_states(states=hidden_states)


def get_metrics(data, model, args, k: int):  # valid셋과 test셋을 평가하는 코드입니다. 
                                             # train과 거의 같지만 mrr, recall을 구하는 라인이 있습니다.
    dataset = SessionDataset(data)
    loader = SessionDataLoader(dataset, batch_size=args.batch_size)
    recall_list, mrr_list = [], []

    total_step = len(data) - data['UserId'].nunique()
    for inputs, label, mask in tqdm(loader, total=total_step // args.batch_size, desc='Evaluation', mininterval=1):
        reset_hidden_states(model, mask)
        input_ohe = to_categorical(inputs, num_classes=args.num_items)
        input_ohe = np.expand_dims(input_ohe, axis=1)

        pred = model.predict(input_ohe, batch_size=args.batch_size)
        pred_arg = tf.argsort(pred, direction='DESCENDING')  # softmax 값이 큰 순서대로 sorting 합니다.

        length = len(inputs)
        recall_list.extend([recall_k(pred_arg[i], label[i], k) for i in range(length)])
        mrr_list.extend([mrr_k(pred_arg[i], label[i], k) for i in range(length)])

    recall, mrr = np.mean(recall_list), np.mean(mrr_list)
    return recall, mrr

In [89]:
train_model(model, args)

Train:  88%|████████▊ | 1372/1553 [00:19<00:02, 70.91it/s, accuracy=0.00781, train_loss=6.72]
Evaluation:  57%|█████▋    | 221/387 [02:30<01:52,  1.47it/s]
Train:   0%|          | 0/1553 [00:00<?, ?it/s, accuracy=0.0469, train_loss=6.14]

	 - Recall@20 epoch 1: 0.204468
	 - MRR@20    epoch 1: 0.051563

Train:  88%|████████▊ | 1372/1553 [00:18<00:02, 73.48it/s, accuracy=0.0234, train_loss=6.39]
Evaluation:  57%|█████▋    | 221/387 [02:22<01:46,  1.55it/s]
Train:   0%|          | 0/1553 [00:00<?, ?it/s, accuracy=0.0625, train_loss=5.8]

	 - Recall@20 epoch 2: 0.266792
	 - MRR@20    epoch 2: 0.072988

Train:  88%|████████▊ | 1372/1553 [00:17<00:02, 78.56it/s, accuracy=0.0195, train_loss=6.22]
Evaluation:  57%|█████▋    | 221/387 [02:19<01:44,  1.59it/s]
Train:   0%|          | 0/1553 [00:00<?, ?it/s, accuracy=0.0703, train_loss=5.58]

	 - Recall@20 epoch 3: 0.299562
	 - MRR@20    epoch 3: 0.086390

Train:  88%|████████▊ | 1372/1553 [00:18<00:02, 73.75it/s, accuracy=0.0234, train_loss=6.07]
Evaluation:  57%|█████▋    | 221/387 [02:17<01:43,  1.61it/s]
Train:   0%|          | 0/1553 [00:00<?, ?it/s, accuracy=0.0742, train_loss=5.45]

	 - Recall@20 epoch 4: 0.319747
	 - MRR@20    epoch 4: 0.095969

Train:  88%|████████▊ | 1372/1553 [00:19<00:02, 71.38it/s, accuracy=0.0312, train_loss=6]
Evaluation:  57%|█████▋    | 221/387 [02:17<01:43,  1.61it/s]

	 - Recall@20 epoch 5: 0.334046
	 - MRR@20    epoch 5: 0.102820

In [90]:
def test_model(model, args, test):
    test_recall, test_mrr = get_metrics(test, model, args, 20)
    print(f"\t - Recall@{args.k}: {test_recall:3f}")
    print(f"\t - MRR@{args.k}: {test_mrr:3f}\n")

test_model(model, args, data_test)

Evaluation:  91%|█████████ | 1758/1942 [19:16<02:01,  1.52it/s]

	 - Recall@20: 0.266263
	 - MRR@20: 0.073596